<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="LoggingConfiguration" type="NetLog.Logging.NetLogConfigurationSection, NetLog"/>
  </configSections>
  <LoggingConfiguration>

    <Handlers>
      <add handler="consoleHandler" className="NetLog.Logging.ConsoleHandler" formatter="streamFormatter"/>
    </Handlers>

    <Formatters>
      <add formatter="streamFormatter" className="NetLog.Logging.StreamFormatter">
        <properties>
          <property name="Brief" value="true"/>
        </properties>
     </add>
    </Formatters>

    <Loggers>
      <logger name="NetLogConfiguration.NetLog" level="ALL" handler="consoleHandler">
        <properties>
          <property name="UseParentHandlers" value="false"/>
        </properties>
      </logger>
    </Loggers>
    
  </LoggingConfiguration>
  </configuration>