<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="LoggingConfiguration" type="NetLog.Logging.NetLogConfigurationSection, NetLog" />
  </configSections>
  <LoggingConfiguration>

    <Handlers>
      <add handler="consoleHandler" className="NetLog.Logging.ConsoleHandler" formatter="streamFormatter" />
      <add handler="monitorHandler" className="NetLog.Logging.TCPSocketHandler" formatter="briefStreamFormatter" />
      <add handler="kernLogFileHandler" className="NetLog.Logging.FileHandler" formatter="streamFormatter">
        <properties>
          <!-- either Name or Filename work to set the path to the log file 
               relative to the processes running directory -->
          <property name="Name" value="custLog/Kern/iWellScada.log" />
          <!-- <property name="Filename" value="output.log"/> -->
          <property name="IncrementalFlush" value="true" />
          <property name="Generations" value="5" />
          <property name="Limit" value="20480000" />
        </properties>
      </add>
      <add handler="logFileHandler" className="NetLog.Logging.FileHandler" formatter="streamFormatter">
        <properties>
          <!-- either Name or Filename work to set the path to the log file 
               relative to the processes running directory -->
          <property name="Name" value="output.log" />
          <!-- <property name="Filename" value="output.log"/> -->
          <property name="IncrementalFlush" value="true" />
          <property name="Generations" value="5" />
          <property name="Limit" value="20480000" />
        </properties>
      </add>
    </Handlers>

    <Formatters>
      <!-- Brief Stream formatter so that date/time and class name are not shown -->
      <add formatter="briefStreamFormatter" className="NetLog.Logging.StreamFormatter">
        <properties>
          <property name="Brief" value="true" />
        </properties>
      </add>
      <!-- Simple stream formatter withs standard formatting -->
      <add formatter="streamFormatter" className="NetLog.Logging.StreamFormatter" />
    </Formatters>

    <Loggers>
      <logger name="NetLogConfiguration.NetLog" level="ALL" handler="consoleHandler">
        <properties>
          <property name="UseParentHandlers" value="false" />
        </properties>
      </logger>
      <logger name="iWellScada.logging.kern" level="ALL" handler="kernLogFileHandler">
        <properties>
          <property name="UseParentHandlers" value="true" />
        </properties>
      </logger>
    </Loggers>

  </LoggingConfiguration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ServiceModel" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>