<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="NetLogConfigurationSection" type="NetLog.Logging.NetLogConfigurationSection,NetLog"/>
  </configSections>
  <NetLogConfigurationSection>
    <Handlers>
      <LoggingHandler name="console" level="FINE" class="NetLog.Logging.ConsoleHandler" formatter="consolestream"/>
      <LoggingHandler name="logfile" level="ALL" class="NetLog.Logging.FileHandler" formatter="logstream"/>
    </Handlers>
    <Formatters>
      <LoggingFormatter name="logstream" class="NetLog.Logging.StreamFormatter" />
      <LoggingFormatter name="consolestream" class="NetLog.Logging.StreamFormatter" />
    </Formatters>
    <Properties>
      <LoggingProperty name="logfile.Generations" value="5"/>
      <LoggingProperty name="logfile.Limit" value="20000000"/>
      <LoggingProperty name="logfile.Name" value="c:\logs\myapp.log"/>


      <LoggingProperty name="consolestream.Brief" value="true"/>
      <LoggingProperty name="consolestream.WithTime" value="false"/>

      <LoggerConfiguration name="logger.name" level="INFO"/>
    </Properties>
  </NetLogConfigurationSection>
</configuration>