<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter" />
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>    <!-- sectionGroup name="ReadTypeCollectors">
      <section name="ReadTypeConfigurationSection" type="ReadTypeCalc.ReadTypeConfigurationSection" allowLocation="true" allowDefinition="Everywhere"/>
    </sectionGroup -->
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="FieldDeviceAccess"     type="lufkin.FieldGateway.FieldDeviceAccess.FieldDeviceAccess,FieldDeviceAccess" />
    <alias alias="FieldGatewayAccess"    type="lufkin.iwellscada.FieldGatewayAccess.FieldGatewayAccess,lufkin.iwellscada.FieldGatewayAccess" />
    <alias alias="iDataCollectionAccess" type="lufkin.iwellscada.FieldGateway.DataCollectionAccess.iDataCollectionAccess,iDataCollectorAccess" />

    <!-- provides FieldDeviceAccess impl -->
    <namespace name="lufkin.iWellLink" />
    <assembly  name="iWellLink" />

    <!-- defines FieldDeviceAccess contract -->
    <namespace name="lufkin.FieldGateway.FieldDeviceAccess" />
    <assembly  name="FieldDeviceAccces" />

    <!-- defines FieldGatewayAccess contract -->
    <namespace name="lufkin.iwellscada.FieldGatewayAccess" />
    <assembly  name="lufkin.iwellscada.FieldGatewayAccess" />

    <!-- defines iDataCollectionAccess and provides impl -->
    <namespace name="lufkin.iwellscada.FieldGateway.DataCollectionAccess" />
    <assembly  name="iDataCollectorAccess" />
    <assembly  name="lufkin.iwellscada.FieldGateway.DataCollection"/>

    <container>
      <register type="FieldDeviceAccess"     mapTo="lufkin.iWellLink.iWellLinkDirectAccess, iWellLink" />
      <register type="FieldGatewayAccess"    mapTo="lufkin.FieldGateway.Publisher.PublisherWCFAccess, lufkin.FieldGateway.Publisher" />
      <register type="iDataCollectionAccess" mapTo="lufkin.iwellscada.FieldGateway.DataCollection.PublishedDataCollectionAccess, lufkin.iwellscada.FieldGateway.DataCollection" />
    </container>
  </unity>
  
  <appSettings>
    <add key="databaseConcurrency" value="1" />
    <add key="dataCollectorName" value="DataCollector2" />
    <add key="SourceChannel" value="rabbitmq" />
    <add key="dataCollectorNamePath" value="ReadSourceforRTU1/iWellLink1" />
    <add key="LWMReadTimeout" value="43000"/>

    <!-- This needs to be missing to not launch from config -->
    <add key="launchFromConfig" value="anything" />
    
    <!-- Example configuration of 0 or more sites -->
    <add key="instanceCount" value="1" />
    <add key="instance.1.name" value="ReadSourceforRTU1/iWellLink1" />
    <add key="instance.1.type" value="serial" />
    <add key="instance.1.tcp.ipaddress" value="192.168.20.5" />
    <add key="instance.2.tcp.ipaddress" value="76.76.133.78" />
    <add key="instance.1.tcp.port" value="502" />
    <add key="instance.1.rtu" value="301" />
    <add key="instance.1.serial.port" value="COM7" />
    <add key="instance.1.serial.baud" value="115200" />
    <add key="instance.1.serial.stopbits" value="1" />
    <add key="instance.2.name" value="ReadSourceforRTU1/iWellLink2" />
    <add key="instance.2.type" value="serial" />
    <add key="instance.2.serial.port" value="COM7" />
    <add key="instance.2.serial.baud" value="115200" />
    <add key="instance.2.serial.stopbits" value="1" />
    <add key="instance.2.rtu" value="1" />
    <!-- To connect to an LWM directly on COMM port, changes this name to 'commPort' 
       to activate the use of the commPort, which has priority in code logic over
       any provided IP address.
    
    <add key="xcommPort" value="COM7"/>
    <add key="commBaud" value="115200"/>
    <add key="rtu" value="1"/>
-->
    <!-- If no 'commPort' property is provided, the DataCollectionMain will look for this
       configuration value to find the IP address of an LWM to connect to.  This is the
       IP address of Gregg's laptop, or other machine connected to the LWM running
       "TerminalServerApp" or some other gateway mechanism
    <add key="LWMIpAddress" value="192.168.20.230"/>
    <add key="LWMTCPPort" value="6300"/>
 -->
    <add key="bindServiceTo" value="http://localhost:8733/LWMWrite" />
    <add key="lwmRegisters" value="lwm.xml" />
    <add key="lwmRecords" value="records.xml" />
    <add key="lwmSchedules" value="schedules.xml" />
    <add key="lwmPolled" value="polling.xml" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  
  <connectionStrings>
    <!-- MYSQL Database -->
    <!--
    <add name="iwellscadaDB" connectionString="Datasource=54.208.5.50;Database=iwellscada;uid=admin;pwd=admpass;" providerName="MySql.Data.MySqlClient" />
    -->
    <add name="iwellscadaDB" connectionString="Datasource=localhost;Database=iwellscada;uid=root;pwd=;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  
  <dataConfiguration defaultDatabase="iwellscadaDB" />
  
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.3.7.0" newVersion="6.3.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IPublisherService" closeTimeout="00:01:00"
         openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
         allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
         maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
         messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
         useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
           maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
             realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8732/FieldGateway/Publisher"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPublisherService"
          contract="WCFPublisherLibrary.IPublisherService" name="BasicHttpBinding_IPublisherService" />
    </client>
  </system.serviceModel>

</configuration>