<NetLogConfigurationSection>
  <LoggingHandler name="console" level="FINE" class="NetLog.Logging.ConsoleHandler"/>
  <LoggingHandler name="logfile" level="ALL" class="NetLog.Logging.FileHandler"/>
  <LoggingProperty name="logfile.Generations" value="5"/>
  <LoggingProperty name="logfile.Limit" value="20000000"/>
  <LoggingProperty name="logfile.name" value="c:\logs\myapp.log"/>

  <LoggingFormatter name="logstream" class="NetLog.Logging.StreamFormatter" handler="logfile"/>

  <LoggingFormatter name="consolestream" class="NetLog.Logging.StreamFormatter" handler="console"/>
  <LoggingProperty name="consolestream.brief" value="true"/>
  <LoggingProperty name="consolestream.WithTime" value="false"/>

  <LoggerConfiguration name="logger.name" level="INFO"/>

</NetLogConfigurationSection>